!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %title = Preprocessor
    %link{:href => 'css/style.css', :type => 'text/css', :rel => 'stylesheet'}
%body.bg-color
 %header
  %div.headerWrapper.textStyleSansSerif.fontWeightLight
   %div.headerBlockLeft
    %div.textStyleSansSerif logo
   %div.headerBlockRight
    %div.headerBlock 
     %a.noDecoration{:href => "index.html"} Main 
    %div.headerBlock 
     %a.noDecoration{:href => "index.html"} About  
    %div.headerBlock 
     %a.noDecoration{:href => "index.html"} Contacts
 %div.wrapperMain 
  %div.block1
   %div.shadowBlock
  %div.block2
   %img{:src => "img/cat.jpg", :alt => "No Img", :width => "600"}
  %div.block3
   %div.linkBlock
    %h3.textStyleSansSerif.pink.fontWeightLight ANIMALS 
    %h2.textStyleSerif.bgColor.fontWeightLight Thinking of getting a cat? 
    %p.textStyleSansSerif.bgColor.fontWeightLight Image by 
     %a.bgColor{:href => "https://www.freepik.com/photos/animals", :target => "_blank"} Freepik
  %div.block4 
   %div.buttonBlock
    %h4.textStyleSansSerif.fontWeightHeavy Cat Care for Beginners
    %ol.textStyleSansSerif.fontWeightLight
     %li Provide plenty of human companionship.
     %li Provide regular, suitable meals with a constant supply of fresh water.
     %li Provide a clean and comfortable bed.
     %li Provide the cat with outdoor access or be prepared to empty and clean a litter tray on a daily basis.
    %button.buttonStyle.textStyleSansSerif.fontWeightLight READ MORE 
 %footer.footer
  %div 
   %p.white.textStyleSansSerif Based on template
    %a.white{:href => "https://nicepage.com/t/458257/general-cat-care-template", :target => "_blank"} General Cat Care Template